* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 75px;
  background-color: rgb(208, 145, 145);
  display: flex;
  flex-direction: row;
}

.first_half,
.second_half {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.second_half {
  display: flex;
  justify-content: flex-end;
  width: 40%;
  padding-left: 410px;
}

.button {
  width: 200px;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.button:hover {
  background-color: rgb(242, 178, 199);
  transition: 1s;
  cursor: pointer;
}

.dropdown {
  position: relative;
}

.dropdown_c_f {
  position: absolute;
  margin-top: 224px;
  z-index: 1;
  width: 200px;
  display: none;
  background-color: rgb(207, 207, 207);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.link {
  padding-bottom: 20px;
  padding-left: 40px;
  padding-top: 10px;
  width: 80%;
}

.dropdown_c_s {
  display: none;
  position: absolute;
  z-index: 2;
  margin-left: 160px;
  background-color: rgb(247, 190, 229);
}

.dropdown_c_s_r {
  display: none;
  position: absolute;
  z-index: 2;
  margin-top: 114px;
  background-color: rgb(247, 190, 229);
  width: 200px;
}

.dropdown_row {
  position: relative;
}

.dropdown_s_r:hover .dropdown_c_s_r {
  display: block;
}

.dropdown:hover .dropdown_c_f {
  display: block;
}

.dropdown_row:hover .dropdown_c_s {
  display: block;
}

.link:hover {
  display: block;
  background-color: rgb(183, 183, 183);
}
